{% load i18n %}
<div class="card">
    {% with product_image=product.images.first %}
        {% if product_image %}
            <img src="{{ product_image.image.url  }} {{ MEDIA_ROOT }}" class="card-img-top" width="90" height="150" alt="not load">
        {% endif %}
    {% endwith %}
    <div class="card-body">
        <h5 class="card-title" style="font-size: 30px">{{ product.title }} </h5>
        <p class="card-text">{% trans 'Cost' %}:{{ product.price }}$</p>
       <div class="row justify-content-between">
            <div class="col-sm my-2 my-sm-0 justify-content-star">
                <a href="{% url 'product_details' pk=product.pk %}" class="btn btn-primary">{% trans 'Go to product' %}</a>
            </div>
            <div class="col-sm-4 my-2 my-sm-0 justify-content-end">
                {% include 'includes/basket_button.html' with product_id=product.id %}
            </div>
        </div>
    </div>
</div>
