<div class="card">
    {% with product_image=product.images.first %}
        {% if product_image %}
            <img src="{{ product_image.image_url }}" class="card-img-top">
        {% endif %}
    {% endwith %}
    <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">{{ product.price }}</p>
        <div class="row justify-content-between">
            <div class="col-sm my-2 my-sm-0 justify-content-star">
                <a href="{% url 'product_details' pk=product.pk %}" class="btn btn-primary">Go to product</a>
            </div>
            <div class="col-sm-3 my-2 my-sm-0 justify-content-end">
                {% include 'includes/basket_button.html' with product_id=product.id %}
            </div>
        </div>
    </div>
</div>