{% load reverse_string static html_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'shop/css/bootstrap.min.css' %}"/>
</head>
<body>
<div class="container">
    {% include 'navbar.html' %}
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{message.tags}}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% block content %}
        Hello
    {% endblock content %}
</div>
</body>
</html>