{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-4">
{% for category in categories %}
    <div class="row">
        <div class="col">
        <a href="{% url 'categories_by_category' category=category.slug %}">{{ category.slug }}</a>
        </div>
    </div>
 {% endfor %}
</div>
<div class="col-8">
    <div class="row">
    <div class="col-4">Title</div>
    <div class="col-4">Price</div>
    <div class="col-4">Categories</div>
</div>
    {% for product in products %}
      <div class="row">
           <div class="col-4"><a href="{% url 'product_details' pk=product.pk %}">{{ product.title }}</a></div>
           <div class="col-4">{{ product.price }} </div>
           <div class="col-4">
           {% for category in product.categories.all %}
               <a href="{% url 'products_by_category' category=category.slug %}">{{ category.slug }}</a>
     {% endfor %}
            </div>
      </div>
        {% endfor %}
</div>
</div>
</div>
{% endblock content %}