{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
            {% for category in categories %}
                <a href="{% url 'products_by_category' category=category.slug %}" role="button"
                class="list-group-item list-group-item-action {% if selected_category == category.slug%}active{% endif %}">
                    {{ category.localization }}
                </a>
            {% endfor %}
            </ul>
        </div>
        <div class="col-9">
            {% include 'includes/_product_list.html' with products=object_list %}
        </div>
    </div>
{% endblock content %}