{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
<div class="col-3">
         {% for category in categories %}
            <div class="row">
                <div class="col m-2">
                    <a role="button" class="btn btn-primary btn-lg btn-block" href="{% url 'categories_by_category' category=category.slug %}">{{ category.slug|capfirst }}</a>
                </div>
            </div>
        {% endfor %}
</div>
<div class="col-9">
    <div class="row">
    <div class="col-1">
      №
    </div>
    <div class="col-4">
      Title
    </div>
    <div class="col-2">
      Price
    </div>
    <div class="col-4">
      Categories
    </div>
  </div>
        {% for product in page_obj %}
            <div class="row">
                <div class="col-1">{{ product.pk }}</div>
                <div class="col-4"><a href="{% url 'product_details' pk=product.pk %}">{{ product.title|capfirst }}</a></div>
                <div class="col-2">{{ product.price }} руб.</div>
                <div class="col-4">
                    <ul>
                        {% for category in product.categories.all %}
                            <li><a href="{% url 'products_by_category' category=category.slug %}">{{ category.slug }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    <div class="row justify-content-start">
    <div class="pagination col">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
</div>
</div>
</div>
{% endblock content %}