{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md"><img src="{{product.images.first.image.url}}" width="180" height="240"></div>
        <div class="col-sm">{{product.title}}</div>
        <div class="col-sm">{{product.price}}</div>
        <div class="col-sm">
            {% if product.value > 0 %}
                <p>Available</p>
                {% else %}
                <p>Unavailable</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}