{% extends 'base.html' %}
{% block content %}
   <div class="container" style="background-color: lightskyblue">
  <div class="row" style="background-color: lightskyblue">
    <div class="col-1">
     Title
    </div>
    <div class="col-2">
      Price
    </div>
    <div class="col-3">
      Categories
    </div>
  </div>
</div>
        {% for product in products %}
                  <div class="row" style="background-color: lightskyblue">
                <div class="col-1" style="text-align: center"><a href="{% url 'product_details' pk=product.pk %}">{{ product.title }}</a></div>
                <div class="col-2" style="text-align: center">{{ product.price }}</div>
                <div class="col-3">
                    <ul>
                        {% for category in product.categories.all %}
                            <li><a href="{% url 'products_by_category' category=category.slug %}">{{ category.slug }}</a></li>
                        {% endfor %}
                    </ul>
            </div>
            </div>
        {% endfor %}
    {% include "pagination.html" with page=products_num %}


{% endblock content %}
